body {
    background: linear-gradient(to right, #89f7fe, #66a6ff);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    color: #333;
}

.input-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
input {
    width: 75%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
button {
    padding: 8px 12px;
    border: none;
    background: #66a6ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #4d91f7;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    background: #f2f2f2;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
}
.completed {
    text-decoration: line-through;
    color: gray;
    background: #d9fdd3;
}

.delete-btn {
    background: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 4px 8px;
}

.delete-btn:hover {
    background: darkred;
}